<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edição de Postagens</title>
</head>
<body>
<h1> Página de Edição</h1>
<form method="post" th:action="@{/doSalvar}" th:object="${postagem}">
    <input type="hidden" th:field="*{id}">
    Autor: <input type="text" th:field="*{autor}"> <br />
    Mensagem: <input type="text" th:field="*{mensagem}"> <br />
    Título: <input type="text" th:field="*{titulo}"> <br/>
    Destinatário: <input type="text" th:field="*{destinatario}"> <br />
    <button type="submit">Salvar</button>
</form>

</body>
</html>